body{
    font-family: SeoulHangang;
}

.navbar-brand__logo{
    height: 50px;
}
.edu-header {
    background: #c9485b;;
    height:100px;
    font-weight: bolder;
    font-size: 14pt;
    opacity: 100%;
    padding: 10px 15px;
}
.searchbar{
    border-radius: 10em;
    height: 40px;
    width: 400px;
    text-align: center;
    font-weight: bolder;
}
.jumbotron.jumbotron-fluid {
    padding: 0;
}
.jumbotron .slick-list.draggable {
    height: 700px;
}
.edu-product {
    padding: 20px 5px;
}
.edu-product__image img {

    width: 100%;

} 
#logo{
    height: 100%;
   
}
.edu-product a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 14pt;
    text-align: center;
}
.edu-product-description{
    
}
.footer {

    background-color: #2a2a2a;
    padding: 90px 0;

}

.footer h4 {

    color: #fff;
    text-align: left;
    font-size: 18px;
    font-weight: bold;

}
.footer__links, .footer__media {

    list-style: none;
    padding-left: 0;

}
.footer__links a, .footer__media a {

    color: #ccc;
    font-size: 16px;

}
.footer__links a:hover, .footer__media a:hover {

    color: #fff;
    text-decoration: none;

}
.footer__media a {

    font-size: 28px;

}
.footer__media li {

    display: inline-block;
    width: 40px;
    text-align: center;
    height: 40px;
    vertical-align: middle;

}
#dialog-form{
    display: none;
    background-color: #dcd6f7;

}
.order-form{
    background-color: #dcd6f7;
    height: 100vh;
    opacity: 100%;
    text-align: center;
    color: black;
}