body{
    font-family: 'Gotu', sans-serif;
    background-color: #DCD6F7;
}

.navbar-brand__logo{
    height: 50px;
}
.edu-header {
    background: #c9485b;;
    height:100px;
    font-weight: bolder;
    font-size: 14pt;
    opacity: 100%;
    padding: 10px 15px;
    color: black; 
}
.searchbar{
    border-radius: 10em;
    height: 40px;
    width: 400px;
    text-align: center;
    font-weight: bolder;
}
.jumbotron.jumbotron-fluid {
    padding: 0;
}

.jumbotron h1 {
    padding: 15%;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
}
.jumbotron .slick-dots li button:before {
    font-size: 48px;
}
.edu-banner__welcome{
    height: 500px;
    background-image: url('/UI/images/casual-banner-shoe.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}
.edu-banner__promotions{
    height: 500px;
    background-image: url('/UI/images/office-banner-shoe.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}
.edu-banner__stores{
    height: 500px;
    background-image: url('/UI/images/sports-banner-shoe.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}
.slideshow-container {
    height: 500px;
}
.jumbotron .slick-list.draggable {
    height: 700px;
}

.edu-product {
    padding: 20px 5px;
}
.edu-product__image img {

    width: 100%;

} 
#logo{
    height: 100%;
   
}
.edu-product a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 14pt;
    text-align: center;
}

.footer {

    background-color: #2a2a2a;
    padding: 90px 0;

}

.footer h4 {

    color: #fff;
    text-align: left;
    font-size: 18px;
    font-weight: bold;

}
.footer__links, .footer__media {

    list-style: none;
    padding-left: 0;

}
.footer__links a, .footer__media a {

    color: #ccc;
    font-size: 16px;

}
.footer__links a:hover, .footer__media a:hover {

    color: #fff;
    text-decoration: none;

}
.footer__media a {

    font-size: 28px;

}
.footer__media li {

    display: inline-block;
    width: 40px;
    text-align: center;
    height: 40px;
    vertical-align: middle;

}
#dialog-form{
    display: none;
}

<<<<<<< HEAD
.dropdown {
    margin-top: 9px;
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #DCD6F7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 3px;
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
=======
.edushopitems{
    height: 100vh;

}


>>>>>>> origin/ft-home-page-172001308
