body{
    font-family: 'Gotu', sans-serif;
}

.navbar-brand__logo{
    height: 50px;
}
.edu-card {
    padding-top: 2%;
    padding-bottom: 2%;
}
.edu-header {
    background: #c9485b;
    height:100px;
    font-weight: bolder;
    font-size: 14pt;
    opacity: 100%;
    padding: 10px 15px;
    color: black;
    text-transform: capitalize; 
}
.edu-login .nav-item:last-child a {
    color: #fff;
    background: rgba(0,0,0,.5);   
    border-radius: 5px;
}
.edu-login .nav-item:last-child a:hover {
    color: #fff;
    background: #000;
    border-radius: 5px;
}
.searchbar{
    border-radius: 10em;
    height: 40px;
    width: 400px;
    text-align: center;
    font-weight: bolder;
    border: none;
}


.jumbotron.jumbotron-fluid {
    padding: 0;
}

.jumbotron h1 {
    padding: 15%;
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
}

.jumbotron .slick-dots li button:before {
    font-size: 48px;
}
.caption-image {
    padding: 5px;
    background-color: rgb(201,72,91, .2);
}
.edu-banner__welcome{
    height: 500px;
    background-image: url('../images/casual-banner-shoe.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}
main.edu-main {
    background-color: #e9ecef;
}
.edu-banner__promotions{
    height: 500px;
    background-image: url('../images/office-banner-shoe.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}
button{
    background-color:#c9485b;
}
.edu-banner__stores{
    height: 500px;
    background-image: url('../images/sports-banner-shoe.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

.slideshow-container {
    height: 500px;
}

.jumbotron .slick-list.draggable {
    height: 700px;
}
.slider-for .slick-slide, .slider-nav .slick-slide {
    border: 1px solid;
}
.slider-nav .slick-slide img{
    width: 100%;
}
.edu-product {
    padding: 30px 0;
}

.edu-product__image img {
    width: 100%;
} 
.edu-product__image {
    height: 350px;
}
.container .edu-product__image img {
    height: 100%;
    width: 100%;
}

#logo{
    height: 100%;
   
}

.edu-product a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 14pt;
    text-align: center;
}

.footer {

    background-color: #2a2a2a;
    padding: 90px 0;

}

.footer h4 {

    color: #fff;
    text-align: left;
    font-size: 18px;
    font-weight: bold;

}

.footer__links, .footer__media {

    list-style: none;
    padding-left: 0;

}

.footer__links a, .footer__media a {

    color: #ccc;
    font-size: 16px;

}

.footer__links a:hover, .footer__media a:hover {

    color: #fff;
    text-decoration: none;

}

.footer__media a {

    font-size: 28px;

}

.footer__media li {

    display: inline-block;
    width: 40px;
    text-align: center;
    height: 40px;
    vertical-align: middle;

}
.slider-for .slick-slide img {
    width: 100%;
    height: 100%;
}
#dialog-form{
    display: none;

}

.edushopitems{
    height: 100vh;

}

.order-form{
    background-color: rgb(201,72,91, .2);
    height: 100vh;
    opacity: 100%;
    text-align: center;
    color: black;
}
.dropdown-content a {
    color: #fff;
    border: none;
}
.product-name.row {
    border-bottom: 2px solid #000;
}
.product-cart.row {
    border-bottom: 1px solid #ccc;
    padding: 5px;
}
  .dropdown {
    position: relative;
    margin-top: 9px;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2a2a2a;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 3px;
  }
  
  .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    text-decoration: underline;  
    background-color: rgb(201,72,91, .2);}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  