footer {
    background-color: #c9485b;
    font-family: 'Gotu', sans-serif;
    height: 200px;
    font-size: 18px;
    text-align: center;
    padding-top: 35px;
}

header {
    width: auto;
    background-color: #c9485b;
    font-family: 'Gotu', sans-serif;
    height: 150px;
    padding: 16px;
    font-size: 16px;
}

.body {
    background-color: #DCD6F7;
}

.container img {
    height: 300px;
    width: 300px;
    margin: auto;
}

.row {
  padding: 20px;
}

p {
    text-align: center;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }

.btn {
    background-color: #c9485b;
    border-radius: 3px;
    border: 0px;
    padding: 2%;
    margin-top: 12px;
    background-color: #c9485b;
    font-family: 'Gotu', sans-serif;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 1px 1px 0 black;
    width: 300px;
}

.container {
    margin-top: 120px;
    margin-bottom: 120px;
    font-size: 16px;
}

#searchbar {
  border-radius: 50px;
  border: none;
  padding: 2px;
  padding-left: 9px;
  width: 50%;
  box-shadow: 0 0px 4px 0 rgba(0,0,0,0.2);
  margin-top: 20px;
}

.dropdown {
  margin-top: 20px;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #DCD6F7;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.container-fluid img {
  height: 200px;
  width: 290px;
  margin-top: -55px;
  margin-left: -70px;
}

#cart {
  margin-top: 20px;
}