.card {
    box-shadow: 0 0px 4px 0 rgba(0,0,0,0.2);
  width: 30%;
  background-color: white;
  font-family: 'Eczar', serif;
  color: #1b262c;
  float: none;
  margin: auto;
  border-radius: 3px;
 
}

h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    padding-top: 7px;
    
}

form {
    font-size: 24px;
    padding: 7%;
}

input[type = text] {
    width: 100%;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    padding: 12px 0px;
}

input[type = password] {
    width: 100%;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    padding: 12px 0px;
}

input[type = email] {
    width: 100%;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    padding: 12px 0px;
}

input[type = button] {
    width: 100%;
    border-radius: 50px;
    border-color: #A84747;
    padding: 2px;
    margin-top: 12px;
    background-color: #A84747;
    font-family: 'Eczar', serif;
    font-size: 24px;
    box-shadow: 0 1px 3px 0 black;
}

input[type= button]:hover {
    background-color: rgb(136, 49, 49);
    color: whitesmoke;
}

p1 {
    font-size: 18px;
    text-align: left;
}

p2 {
    font-size: 18px;
    text-align: right;
}

img {
    margin-left: -20px;
    height: 400px;
    padding-bottom: 0px;
    margin-bottom: -100px;
    margin-top: -200px;
}

header {
    margin-top: -20px;
    width: auto;
    background-color: #A84747;
    font-family: 'Eczar', serif;
    height: 150px;
    font-size: 24px;
    padding-top: 70px;
}

footer {
    background-color: #A84747;
    font-family: 'Eczar', serif;
    height: 100px;
    font-size: 24px;
    text-align: center;
    padding-top: 35px;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }