.card {
    box-shadow: 0 0px 4px 0 rgba(0,0,0,0.2);
  width: 30%;
  background-color: white;
  font-family: 'Gotu', sans-serif;
  color: black;
  float: none;
  margin: auto;
  border-radius: 3px;
  padding-bottom: 20px;
  padding-top: 20px;
 
}

.navbar-brand__logo{
    height: 50px;
}

#logo{
    height: 100%;
   
}

#h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding-top: 7px;
    
}

#form {
    font-size: 14px;
    padding: 7%;
}



input[type = password] {
    width: 100%;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    padding: 12px 0px;
    font-weight: lighter;
}

input[type = email] {
    width: 100%;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    padding: 12px 0px;
}

input[type = submit] {
    width: 100%;
    border-radius: 50px;
    border: 0px;
    padding: 2%;
    margin-top: 12px;
    background-color: #c9485b;
    font-family: 'Gotu', sans-serif;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 1px 1px 0 black;
}

input[type= submit]:hover {
    color: antiquewhite;
}

#p {
    font-size: 13px;
    text-align: left;
}


header {
    margin-top: -20px;
    width: auto;
    background-color: #c9485b;
    font-family: 'Gotu', sans-serif;
    height: 150px;
    font-size: 18px;
    padding-top: 70px;
}

footer {
    background-color: #c9485b;
    font-family: 'Gotu', sans-serif;
    height: 200px;
    font-size: 18px;
    text-align: center;
    padding-top: 35px;
}

a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }

@media scren and (max-width: 1270px) {
    header {
      font-size: 14px;
      }
  }

@media screen and (max-width:700px) {
  .card {
    width: 60%;
    }
    
}


@media screen and (max-width: 497px) {
    .card {
        width: 80%;
        box-shadow: 0 0px 0px 0 rgba(0,0,0,0);
        background-color: rgb(201,72,91, .2);
    }
    .body {
        background-color: rgb(201,72,91, .2);
    }
    header {
        height: auto;
        
    }
}

@media screen and (max-width: 399px) {
    .body {
        width: 399px;
    }
}


  .footer {
      font-family: 'Gotu', sans-serif;
    background-color: #2a2a2a;
    padding: 90px 0;

}

.footer h4 {

    color: #fff;
    text-align: left;
    font-size: 18px;
    font-weight: bold;

}
.footer__links, .footer__media {

    list-style: none;
    padding-left: 0;

}
.footer__links a, .footer__media a {

    color: #ccc;
    font-size: 16px;

}
.footer__links a:hover, .footer__media a:hover {

    color: #fff;
    text-decoration: none;

}
.footer__media a {

    font-size: 28px;

}
.footer__media li {

    display: inline-block;
    width: 40px;
    text-align: center;
    height: 40px;
    vertical-align: middle;

}